.icon-48-sem_config {
  background-image: url(../images/icon-48-sem_config.png);
}
.icon-48-sem_event {
  background-image: url(../images/icon-48-sem_event.png);
}
.icon-48-sem_info {
  background-image: url(../images/icon-48-sem_info.png);
}
.icon-48-sem_logo {
  background-image: url(../images/icon-48-sem_logo.png);
}
.icon-48-sem_statistic {
  background-image: url(../images/icon-48-sem_statistic.png);
}
.icon-48-sem_pattern {
  background-image: url(../images/icon-48-sem_pattern.png);
}
.icon-48-sem_payctrl {
  background-image: url(../images/icon-48-sem_payctrl.png);
}
