<?xml version="1.0" encoding="utf-8" ?>
<config>
  <params>

// -------------------------------------------------------
//  Code zum entfernen des Copyright
// -------------------------------------------------------
    <param name="sem_p019" type="text" size="40" label="SEM_E019">
    </param>
    <param type="spacer" />

// -------------------------------------------------------
//  Soll auf Updates geprueft werden 
// -------------------------------------------------------
    <param name="sem_p003" type="radio" default="1" label="SEM_E003">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>
    <param type="spacer" />

// -----------------------------------------------------  
//  Ab welchem Level darf ein Benutzer Veranstaltungen verwalten 
// -----------------------------------------------------  
    <param name="sem_p001" type="list" default="3" label="SEM_E001">
      <option value="20">SEM_E038</option>
      <option value="2">REGISTERED</option>
      <option value="3">AUTHOR</option>
      <option value="4">EDITOR</option>
      <option value="5">PUBLISHER</option>
      <option value="6">MANAGER</option>
      <option value="7">ADMINISTRATOR</option>
      <option value="8">SUPER ADMINISTRATOR</option>
    </param>
    <param type="spacer" />

// -------------------------------------------------------
//  Darf ein unregistrierter Nutzer Veranstaltungen buchen 
// -------------------------------------------------------
    <param name="sem_p026" type="radio" default="0" label="SEM_E026">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>
    
// -------------------------------------------------------
//  Zeige einen Hinweis, dass Buchung nur angemeldeten Besuchern moeglich ist 
// -------------------------------------------------------
    <param name="sem_p092" type="radio" default="1" label="SEM_E092">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>
    
// -------------------------------------------------------
//  Darf ein Veranstalter seine eigenen Kurse buchen 
// -------------------------------------------------------
    <param name="sem_p002" type="radio" default="0" label="SEM_E002">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>

// -------------------------------------------------------
//  Soll vor der Buchung eine Abfrage zur Bestaetigung erfolgen 
// -------------------------------------------------------
    <param name="sem_p027" type="radio" default="0" label="SEM_E027">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>

// -------------------------------------------------------
//  Soll vor der Stornierung eine Abfrage zur Bestaetigung erfolgen 
// -------------------------------------------------------
    <param name="sem_p028" type="radio" default="1" label="SEM_E028">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>

    <param type="spacer" />

// -------------------------------------------------------
//  Darf ein Nutzer Listen etc. ausdrucken 
// -------------------------------------------------------
    <param name="sem_p005" type="radio" default="0" label="SEM_E005">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>

// -------------------------------------------------------
//  Welcher Code soll auf den Listen angezeigt werden 
// -------------------------------------------------------
    <param name="sem_p029" type="radio" default="1" label="SEM_E029">
      <option value="0">SEM_E038</option>
      <option value="1">SEM_E044</option>
      <option value="2">SEM_E043</option>
    </param>

// -------------------------------------------------------
//  Darf ein Nutzer ICS-Dateien herunterladen 
// -------------------------------------------------------
    <param name="sem_p052" type="radio" default="0" label="SEM_E052">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>

    <param type="spacer" />

// -------------------------------------------------------
//  Welche Namen sollen angezeigt werden 
// -------------------------------------------------------
    <param name="sem_p058" type="radio" default="1" label="SEM_E058">
      <option value="0">SEM_E059</option>
      <option value="1">SEM_E060</option>
    </param>

// -------------------------------------------------------
//  Soll das Bewertungssystem genutzt werden 
// -------------------------------------------------------
    <param name="sem_p004" type="radio" default="0" label="SEM_E004">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>

    <param type="spacer" />

// -------------------------------------------------------
//  Sollen Mails an Nutzer verschickt werden 
// -------------------------------------------------------
    <param name="sem_p010" type="radio" default="0" label="SEM_E010">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>

// -------------------------------------------------------
//  Sollen Mails BCC an Verantalter verschickt werden 
// -------------------------------------------------------
    <param name="sem_p009" type="radio" default="0" label="SEM_E009">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>

// -------------------------------------------------------
//  Darf eine Kontaktmail an den Veranstalter geschickt werden 
// -------------------------------------------------------
    <param name="sem_p011" type="radio" default="0" label="SEM_E011">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>

// ---------------------------------------------------------------
//  Alle Mails auch bcc zustellen?
// ---------------------------------------------------------------
    <param name="sem_p102" type="text" size="50" label="SEM_E102">
    </param>

    <param type="spacer" />



// -------------------------------------------------------
//  Ausmasse des Ajax-Fensters 
// -------------------------------------------------------
    <param name="sem_p097" type="text" size="40" label="SEM_E097" default="500">
    </param>
    <param name="sem_p098" type="text" size="40" label="SEM_E098" default="350">
    </param>
    <param type="spacer" />

// -------------------------------------------------------
//  Soll im Kartenfenster eine Sprechblase angezeigt werden 
// -------------------------------------------------------
    <param name="sem_p013" type="radio" default="1" label="SEM_E013">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>
    <param type="spacer" />

// -------------------------------------------------------
//  Darf einem Kurs ein Bild zugewiesen werden 
// -------------------------------------------------------
    <param name="sem_p032" type="radio" default="0" label="SEM_E032">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>

// -------------------------------------------------------
//  Verzeichnis der Grafiken 
// -------------------------------------------------------
    <param name="sem_p033" type="text" size="40" label="SEM_E033">
    </param>

    <param type="spacer" />

// -------------------------------------------------------
//  Groesse der hochladbaren Dateien 
// -------------------------------------------------------
    <param name="sem_p056" type="text" size="40" label="SEM_E056" default="200">
    </param>

// -------------------------------------------------------
//  Endungen der hochladbaren Dateien 
// -------------------------------------------------------
    <param name="sem_p057" type="text" size="40" label="SEM_E057" default="txt zip pdf">
    </param>

    <param type="spacer" />

// -------------------------------------------------------
//  Soll die Infozeile angezeigt werden 
// -------------------------------------------------------
    <param name="sem_p014" type="radio" default="0" label="SEM_E014">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>

// -------------------------------------------------------
//  Wo sollen die Knoepfe angezeigt werden 
// -------------------------------------------------------
    <param name="sem_p024" type="radio" default="2" label="SEM_E024">
      <option value="0">SEM_E035</option>
      <option value="1">SEM_E036</option>
      <option value="2">SEM_E037</option>
    </param>
    <param type="spacer" />

// -------------------------------------------------------
//  Waehrungssymbol 
// -------------------------------------------------------
    <param name="sem_p017" type="text" size="40" label="SEM_E017">
    </param>

// -------------------------------------------------------
//  Dezimalstellen 
// -------------------------------------------------------
    <param name="sem_p061" type="list" label="SEM_E061" default="2">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </param>

// -------------------------------------------------------
//  Tausender-Trennzeichen 
// -------------------------------------------------------
    <param name="sem_p062" type="text" size="1" label="SEM_E062" default="">
    </param>

// -------------------------------------------------------
//  Dezimal-Trennzeichen 
// -------------------------------------------------------
    <param name="sem_p063" type="text" size="1" label="SEM_E063" default="">
    </param>
    <param type="spacer" />

// -------------------------------------------------------
//  Datumsformat der Uebersichten
// -------------------------------------------------------
    <param name="sem_p066" type="text" size="40" label="SEM_E066" default="">
    </param>

// -------------------------------------------------------
//  Datumsformat der Detailansichten
// -------------------------------------------------------
    <param name="sem_p067" type="text" size="40" label="SEM_E067" default="">
    </param>

// -------------------------------------------------------
//  Datumsformat der Listen
// -------------------------------------------------------
    <param name="sem_p068" type="text" size="40" label="SEM_E068" default="">
    </param>

// -------------------------------------------------------
//  Datumsformat 
// -------------------------------------------------------
    <param name="sem_p069" type="text" size="40" label="SEM_E069" default="">
    </param>

// -------------------------------------------------------
//  Zeitformat 
// -------------------------------------------------------
    <param name="sem_p070" type="text" size="40" label="SEM_E070" default="">
    </param>
    <param type="spacer" />

// -------------------------------------------------------
//  Zeichenkodierung fuer den CSV-Export
// -------------------------------------------------------
    <param name="sem_p015" type="text" size="40" label="SEM_E015">
    </param>

// -------------------------------------------------------
//  Trennzeichen fuer den CSV-Export
// -------------------------------------------------------
    <param name="sem_p103" type="text" size="10" label="SEM_E103" default=";">
    </param>

    <param type="spacer" />

// -------------------------------------------------------
//  Darf ein Nutzer mehrere Plaetze buchen
// -------------------------------------------------------
    <param name="sem_p023" type="radio" default="0" label="SEM_E023">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>

// -------------------------------------------------------
//  Darf ein Nutzer seine Buchung veraendern 
// -------------------------------------------------------
    <param name="sem_p022" type="radio" default="0" label="SEM_E022">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>
    <param type="spacer" />

// -------------------------------------------------------
//  Stornierungsende in Tagen vor Beginn eines Kurses 
// -------------------------------------------------------
    <param name="sem_p018" type="list" default="0" label="SEM_E018">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="-1">SEM_E016</option>
    </param>
    <param type="spacer" />

// -------------------------------------------------------
//  Anzeigeende der aktuellen Kurse
// -------------------------------------------------------
    <param name="sem_p064" type="list" default="2" label="SEM_E064">
      <option value="0">SEM_E093</option>
      <option value="2">SEM_E094</option>
      <option value="1">SEM_E095</option>
      <option value="3">SEM_E096</option>
    </param>

/ -------------------------------------------------------
//  Festlegung der Anzahl der angezeigten Kurse 
// -------------------------------------------------------
    <param name="sem_p021" type="list" default="5" label="SEM_E021">
      <option value="3">3</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
      <option value="25">25</option>
      <option value="30">30</option>
      <option value="50">50</option>
      <option value="100">100</option>
      <option value="0">all</option>
    </param>
    <param type="spacer" />

// -------------------------------------------------------
//  Beruecksichtige automatisch die Sommerzeit
// -------------------------------------------------------
    <param name="sem_p065" type="radio" default="0" label="SEM_E065">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>
    <param type="spacer" />

// -------------------------------------------------------
//  AGBs 
// -------------------------------------------------------
    <param name="sem_p020" type="textarea" rows="10" cols="80" label="SEM_E020">
    </param>
    <param type="spacer" />

// -------------------------------------------------------
//  Farbgebung des Templates 
// -------------------------------------------------------
    <param name="sem_p045" type="radio" default="0" label="SEM_E045">
      <option value="0">SEM_E046</option>
      <option value="1">SEM_E047</option>
    </param>

// -------------------------------------------------------
//  Breite der Seminaranzeige 
// -------------------------------------------------------
    <param name="sem_p074" type="text" default="100%"  size="50" label="SEM_E074">
    </param>


// -------------------------------------------------------
//  Breite der Texteingabebereiche
// -------------------------------------------------------
    <param name="sem_p075" type="text" default="400px"  size="50" label="SEM_E075">
    </param>

    <param type="spacer" />

// -------------------------------------------------------
//  Soll unangemeldeten Benutzern das Anmeldeformular angezeigt werden?  
// -------------------------------------------------------
    <param name="sem_p051" type="radio" default="1" label="SEM_E051">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>

// -------------------------------------------------------
//  Soll ein Knopf Benutzername vergessen angezeigt werden?  
// -------------------------------------------------------
    <param name="sem_p104" type="radio" default="1" label="SEM_E104">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>

// -------------------------------------------------------
//  Soll ein Knopf Kennwort vergessen angezeigt werden?  
// -------------------------------------------------------
    <param name="sem_p105" type="radio" default="1" label="SEM_E105">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>

// -------------------------------------------------------
//  Soll ein Knopf Registrieren vergessen angezeigt werden?  
// -------------------------------------------------------
    <param name="sem_p106" type="radio" default="1" label="SEM_E106">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>

    <param type="spacer" />

// -------------------------------------------------------
//  Sollen RSS-Feeds angezeigt werden 
// -------------------------------------------------------
    <param name="sem_p048" type="radio" default="0" label="SEM_E048">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>

// -------------------------------------------------------
//  Sollen Name und E-Mail des Veranstalters veröffentlicht werden 
// -------------------------------------------------------
    <param name="sem_p050" type="radio" default="0" label="SEM_E050">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>

    <param type="spacer" />

// ---------------------------------------------------------------
//  Duerfen Veranstalter die Benutzerliste sehen oder Eingabefeld 
// ---------------------------------------------------------------
    <param name="sem_p101" type="radio" default="0" label="SEM_E101">
      <option value="0">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>

    <param type="spacer" />

// ---------------------------------------------------------------
//  Umsatzsteuer
// ---------------------------------------------------------------
    <param name="sem_p108" type="text" size="50" default="0" label="SEM_E108">
    </param>

    <param type="spacer" />

// ---------------------------------------------------------------
//  PayPal E-Mail-Adresse
// ---------------------------------------------------------------
    <param name="sem_p109" type="text" size="50" label="SEM_E109">
    </param>
// ---------------------------------------------------------------
//  PayPal Sandbox E-Mail-Adresse
// ---------------------------------------------------------------
    <param name="sem_p110" type="text" size="50" label="SEM_E110">
    </param>
// ---------------------------------------------------------------
//  PayPal Waehrung
// ---------------------------------------------------------------
    <param name="sem_p111" type="list" default="EUR" label="SEM_E111">
      <option value="AUD">AUD</option>
      <option value="BRL">BRL</option>
      <option value="CAD">CAD</option>
      <option value="CHF">CHF</option>
      <option value="CZK">CZK</option>
      <option value="DKK">DKK</option>
      <option value="EUR">EUR</option>
      <option value="GBP">GBP</option>
      <option value="HKD">HKD</option>
      <option value="HUF">HUF</option>
      <option value="ILS">ILS</option>
      <option value="JPY">JPY</option>
      <option value="MYR">MYR</option>
      <option value="MXN">MXN</option>
      <option value="NOK">NOK</option>
      <option value="NZD">NZD</option>
      <option value="PHP">PHP</option>
      <option value="PLN">PLN</option>
      <option value="SGD">SGD</option>
      <option value="SEK">SEK</option>
      <option value="THB">THB</option>
      <option value="TRY">TRY</option>
      <option value="TWD">TWD</option>
      <option value="USD">USD</option>
    </param>	
// ---------------------------------------------------------------
//  Logo
// ---------------------------------------------------------------
    <param name="sem_p112" type="text" size="50" label="SEM_E112">
    </param>
// ---------------------------------------------------------------
//  Soll nach Versandadresse gefragt werden 
// ---------------------------------------------------------------
    <param name="sem_p113" type="radio" default="2" label="SEM_E113">
      <option value="2">SEM_0006</option>
      <option value="1">SEM_0005</option>
    </param>
// ---------------------------------------------------------------
//  PayPal-Gebühren
// ---------------------------------------------------------------
    <param name="sem_p107" type="text" size="50" default="0" label="SEM_E107">
    </param>


  </params>
</config>
